html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal; }

ul {
    list-style: none; }

button,
input,
select,
textarea {
    margin: 0; }

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; }
html * {
    box-sizing: border-box; }
html *:before, html *:after {
    box-sizing: border-box; }

img,
embed,
object,
audio,
video {
    height: auto;
    max-width: 100%; }

iframe {
    border: 0; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

th,
td {
    padding: 0;
    text-align: left; }

.flex-row,
.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.flex-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.flex-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }

.flex-strech {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.flex-none {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none; }

[class="col-"] {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
[class="col-"].col-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
[class="col-"].col-last {
    -webkit-box-ordinal-group: 100;
    -ms-flex-order: 99;
    order: 99; }
[class="col-"].col-left {
    margin-right: auto; }
[class="col-"].col-right {
    margin-left: auto; }
[class="col-"].col-top {
    margin-bottom: auto; }
[class="col-"].col-bottom {
    margin-top: auto; }
[class="col-"].col-center {
    margin-left: auto;
    margin-right: auto; }
[class="col-"].col-middle {
    margin-top: auto;
    margin-bottom: auto; }

.flex-row.flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.flex-row.flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.flex-row.flex-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.flex-row.flex-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.flex-row.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.flex-row.flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.flex-column {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.flex-column.column-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
.flex-column.column-last {
    -webkit-box-ordinal-group: 100;
    -ms-flex-order: 99;
    order: 99; }
.flex-column.column-left {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
.flex-column.column-right {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
.flex-column.column-top {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.flex-column.column-bottom {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
.flex-column.column-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.flex-column.column-middle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.col-1 {
    width: 8.33333%; }

.col-offset-1 {
    width: 8.33333%; }

.flex-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }

.col-2 {
    width: 16.66667%; }

.col-offset-2 {
    width: 16.66667%; }

.flex-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }

.col-3 {
    width: 25%; }

.col-offset-3 {
    width: 25%; }

.flex-order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }

.col-4 {
    width: 33.33333%; }

.col-offset-4 {
    width: 33.33333%; }

.flex-order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }

.col-5 {
    width: 41.66667%; }

.col-offset-5 {
    width: 41.66667%; }

.flex-order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }

.col-6 {
    width: 50%; }

.col-offset-6 {
    width: 50%; }

.flex-order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }

.col-7 {
    width: 58.33333%; }

.col-offset-7 {
    width: 58.33333%; }

.flex-order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }

.col-8 {
    width: 66.66667%; }

.col-offset-8 {
    width: 66.66667%; }

.flex-order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }

.col-9 {
    width: 75%; }

.col-offset-9 {
    width: 75%; }

.flex-order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }

.col-10 {
    width: 83.33333%; }

.col-offset-10 {
    width: 83.33333%; }

.flex-order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }

.col-11 {
    width: 91.66667%; }

.col-offset-11 {
    width: 91.66667%; }

.flex-order-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }

.col-12 {
    width: 100%; }

.col-offset-12 {
    width: 100%; }

.flex-order-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; }

.hidden {
    display: none !important; }

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit; }

.invisible {
    visibility: hidden; }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; }

.clearfix:after {
    clear: both; }

.clear {
    clear: both; }

.float-left {
    float: left; }

.float-right {
    float: right; }

.circle {
    border-radius: 50%; }

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0; }

.text-center {
    text-align: center; }

.btn {
    display: inline-block;
    padding: 18px 32px;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    background: #eab702;
    text-align: center;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: none; }
.btn:hover {
    background: #333;
    color: #fff; }
.btn.btn-reverse {
    background: #333;
    color: #fff; }
.btn.btn-reverse:hover {
    color: #eab702; }
.btn:focus {
    outline: none; }

.input-group {
    margin-bottom: 25px; }
.input-group > label {
    display: block;
    margin-bottom: 8px; }

.input {
    height: 50px;
    border: none;
    outline: none;
    width: 99.4%;
    padding-left: 15px;
    background-color: #fff;
    max-width: 100%; }
.input:focus {
    box-shadow: inset 0 0 2px rgba(234, 255, 2, 0.8); }

body {
    background: #f9f9f9;
    font: 14px/22px Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",'Microsoft Yahei',sans-serif;
    color: #6a6a6a; }

a {
    color: #6a6a6a;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s; }
a:hover {
    color: #eab702; }

.color-active {
    color: #eab702; }

.left {
    float: left; }

.right {
    float: right; }

.wp50 {
    width: 50%; }

.wp25 {
    width: 25%; }

.wp33 {
    width: 33%; }

.mt40 {
    margin-top: 40px; }

.mt10 {
    margin-top: 10px; }

.bordered {
    border: 1px solid #e5e5e5; }

.p20 {
    padding: 20px; }

.list-inline li {
    display: inline-block; }
.list-inline li span {
    display: inline-block;
    padding-left: 10px; }

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; }
.container:before, .container:after {
    content: ' ';
    display: table; }
.container:after {
    clear: both; }

.top {
    background: #333;
    height: 55px;
    line-height: 55px;
    color: #c2c2c2; }
.top .list-inline li {
    margin-right: 20px; }
.top .top-links {
    overflow: hidden; }
.top .top-links a {
    display: inline-block;
    margin: 0 10px;
    color: #c2c2c2;
    font-size: 16px;
    line-height: 50px; }
.top .top-links a:hover {
    color: #eab702; }

.header {
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); }
.header .logo {
    padding-top: 25px; }
.header .nav li {
    float: left; }
.header .nav li a {
    display: inline-block;
    padding: 0 25px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    line-height: 100px;
    letter-spacing: .8px; }
.header .nav li a.active:before, .header .nav li a.active:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 4px;
    overflow: hidden;
    background: #eab702;
    bottom: 25px;
    left: 26px; }
.header .nav li a.active:after {
    left: 43px;
    background: #333; }

.bottom {
    padding: 25px 0;
    background-color: #2c2c2c;
    color: #999999; }

.banner-wrapper {
    max-height: 530px !important;
    width: 100% !important;
    position: relative;
    overflow: hidden !important; }

.banner {
    height: 530px;
    overflow: hidden; }
.banner img {
    width: 100%;
    height: 100%; }

.section {
    margin: 70px 0; }
.section.feedback {
    padding: 60px 0;
    background: #0a0a0a;
    color: #fff; }
.section.feedback .section-title h2 {
    color: #fff; }
.section.feedback .section-title .description {
    padding: 20px 30px 0 0;
    color: #c2c2c2; }
.section.feedback .feedback-tip {
    line-height: 50px;
    margin-left: 30px;
    display: none;
    color: #eab702; }
.section .pretext {
    margin-bottom: 50px;
    color: #888; }

.section-title {
    margin-bottom: 35px; }
.section-title h2 {
    font-size: 26px;
    padding-bottom: 30px;
    position: relative;
    color: #333; }
.section-title h2:before, .section-title h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15px;
    height: 8px;
    background: #eab702; }
.section-title h2:after {
    left: 16px;
    background: #333; }
.section-title.style2 h2 {
    text-align: center; }
.section-title.style2 h2:after, .section-title.style2 h2:before {
    left: 50%; }
.section-title.style2 h2:after {
    margin-left: -15px; }
.section-title.style3 h2 {
    text-align: center;
    font-size: 34px;
    padding-bottom: 0; }
.section-title.style3 h2:after, .section-title.style3 h2:before {
    display: none; }

.items-wrapper {
    margin-right: -100px;
    overflow: hidden;
    margin-bottom: -30px; }
.items-wrapper li {
    position: relative;
    overflow: hidden;
    width: 380px;
    height: 280px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px; }
.items-wrapper li:nth-child(3n) {
    margin-right: 0; }
.items-wrapper li img {
    width: 100%;
    height: 100%; }
.items-wrapper li:hover .box-mask,
.items-wrapper li:hover .box-content {
    top: 0; }
.items-wrapper li .box-mask,
.items-wrapper li .box-content {
    position: absolute;
    left: 0;
    top: 220px;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    color: #fff;
    -webkit-transition: top .3s;
    transition: top .3s; }
.items-wrapper li .box-mask {
    background: #000;
    opacity: .7; }
.items-wrapper li .box-title {
    font-size: 18px;
    line-height: 60px;
    position: relative;
    padding-top: 10px; }
.items-wrapper li .box-title:before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 50px;
    background: #eab702;
    overflow: hidden;
    position: absolute;
    top: 18px; }
.items-wrapper li .box-description {
    color: #eee; }
.items-wrapper li .box-redmore {
    margin: 15px 0;
    display: inline-block;
    border: 2px solid #eab702;
    color: #eab702;
    padding: 8px 20px;
    font-size: 16px; }
.items-wrapper li .box-redmore:hover {
    color: #fff; }

.siverce-wrapper:before, .siverce-wrapper:after {
    content: ' ';
    display: table; }

.siverce-wrapper:after {
    clear: both; }

.siverce-wrapper li {
    position: relative;
    width: 370px;
    margin: 20px 15px;
    float: left;
    *display: inline; }
.siverce-wrapper li .box {
    padding-left: 60px;
    padding-right: 30px; }
.siverce-wrapper li .box-title {
    font-size: 18px;
    line-height: 50px; }
.siverce-wrapper li .box-content {
    color: #888; }
.siverce-wrapper li .icon-rounded {
    height: 50px;
    width: 50px;
    background: #eab702;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: -15px;
    top: 15px; }
.siverce-wrapper li .icon-rounded i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.testimonials {
    overflow: hidden; }
.testimonials li {
    width: 570px;
    float: left;
    margin-right: 30px;
    background: #fff;
    padding: 30px 30px 40px;
    position: relative; }
.testimonials li .avatar {
    position: absolute; }
.testimonials li .avatar img {
    height: 100px;
    width: 100px;
    padding: 4px;
    border: 2px solid #ecf0f1;
    border-radius: 50%; }
.testimonials li .message {
    padding-left: 120px; }
.testimonials li .message .name {
    font-size: 18px;
    margin: 5px 0 15px;
    font-weight: 700;
    color: #251021; }

.mail-chimp {
    background: #eab702;
    padding: 35px 0; }
.mail-chimp .text h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 600; }
.mail-chimp .text p {
    color: #333;
    font-weight: 700;
    margin: 10px 0; }

.footer {
    padding: 80px 0 50px;
    background: #222222; }
.footer .contact-intro {
    padding-bottom: 18px; }
.footer .contact-info li {
    padding: 0 0 15px 30px;
    position: relative; }
.footer .contact-info li i {
    position: absolute;
    top: 5px;
    left: 0;
    color: #eab702; }

.widget {
    padding: 0 15px; }
.widget .widget-title {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px; }

.post-list {
    line-height: 35px; }

.page-title {
    padding: 100px 0;
    position: relative;
    color: #fff; }
.page-title .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); }
.page-title .container {
    position: relative; }
.page-title .page-title-heading {
    font-size: 42px;
    padding: 20px 0 15px;
    line-height: 1; }

.breadcrumbs ul {
    overflow: hidden; }
.breadcrumbs ul li {
    display: inline-block;
    margin-right: 12px; }
.breadcrumbs ul li a {
    color: #fff; }
.breadcrumbs ul li .divider {
    display: inline-block;
    margin-left: 12px; }

.page-content,
.content,
.sidebar {
    padding-top: 80px;
    padding-bottom: 80px; }

.content {
    width: 66.6%; }

.sidebar {
    width: 33.3%; }
.sidebar .sidebar-inner {
    margin-left: 50px;
    padding-left: 50px;
    border-left: 1px solid #e5e5e5; }
.sidebar .sidebar-nav {
    padding-bottom: 40px; }
.sidebar .sidebar-nav li a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px 10px;
    margin-top: 4px;
    background: #f0f0f0;
    -webkit-transition: all .3s;
    transition: all .3s; }
.sidebar .sidebar-nav li a:hover, .sidebar .sidebar-nav li a.active {
    background: #f3f3f3;
    color: #eab702; }

.brochure {
    border: 1px solid #e5e5e5;
    padding: 28px 18px 14px 24px; }

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    line-height: 35px; }

.post-meta {
    overflow: hidden;
    margin-bottom: 10px; }
.post-meta li {
    display: inline-block;
    margin-right: 15px; }

.post-content {
    line-height: 1.8; }

.post-detail-btn {
    display: inline-block;
    margin-top: 12px;
    font-size: 16px;
    color: #eab702; }

.content .post-list > li {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    margin-bottom: 30px; }

.pagination {
    text-align: center;
    margin-top: 40px; }
.pagination li {
    display: inline-block; }
.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 6px 18px;
    background: #f2f2f2;
    margin-left: 4px; }
.pagination li.active span,
.pagination li.active a, .pagination li:hover span,
.pagination li:hover a {
    background: #eab702;
    color: #fff; }

.product-catalog {
    overflow: hidden;
    margin-bottom: 50px; }
.product-catalog li {
    float: left;
    margin-right: 10px; }
.product-catalog li .btn {
    background: transparent;
    color: #333; }
.product-catalog li .btn:hover {
    color: #eab702; }
.product-catalog li .btn.active {
    background: #eab702;
    color: #fff; }

.product-detail .content {
    width: 60%; }

.product-detail .sidebar {
    width: 40%; }

.product-image {
    margin-bottom: 30px; }

.title-product-detail {
    font-size: 24px;
    position: relative;
    padding-top: 40px;
    color: #333; }
.title-product-detail:before, .title-product-detail:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 8px;
    background: #eab702; }
.title-product-detail:after {
    left: 16px;
    background: #333; }

.price-panel {
    background: #FFF4C5;
    padding: 10px 20px 20px;
    margin: 25px 0;
    color: #333;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05); }
.price-panel p {
    margin-top: 10px; }
.price-panel .pirce1 {
    color: #ff6600;
    font-size: 18px; }

.product-description {
    margin-top: 15px; }

.product-options li {
    margin: 10px 0; }

.order-btn {
    width: 100%;
    margin-top: 20px; }

.recruit-list li {
    border: 1px solid #e5e5e5;
    margin-bottom: 30px; }
.recruit-list li .recruit-header {
    border-left: 4px solid #eab702;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    margin-bottom: -1px;
    position: relative; }
.recruit-list li .recruit-header span {
    display: inline-block;
    margin-right: 50px;
    min-width: 30%; }
.recruit-list li .recruit-header .toggle-recruit {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #eab702; }
.recruit-list li .recruit-detail {
    padding: 15px;
    display: none; }
.recruit-list li .recruit-detail p {
    margin: 8px 0; }
